{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="col-md-8">
            {% if (exchangeRates) %}
                <div id="chart_container" style="height: 300px; width: 100%;">
                </div>
                <script type="text/javascript">
                    var exchangeRates = {{ exchangeRates|json_encode|raw}};
                </script>
                <script src="{{ asset('js/main/chart.js') }}"></script>
            {% endif %}

        </div>
    </div>

{% endblock %}
