<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% stylesheets '@css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% javascripts '@js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ asset('js/canvasjs/jquery.canvasjs.min.js') }}"></script>
    <script src="{{ asset('js/main/main.js') }}"></script>
</head>
<body>

<div class="container">
    {% block body %}{% endblock %}
</div>

</body>
</html>
